h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h1 {
    font-size: 3em;
}

#chuck {
    width: 15em;
    height: auto;
    display: flex;
    margin: auto;
}

#button {
    display: flex;
    margin: auto;
    height: 2em;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 5px 5px;
    cursor: pointer;
    color: black;
    background-color: grey;

}

#fact {
    background-color: orange;
    height: 3em;
    width: 30em;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    padding: 1.5em;
    
}


@media screen and (max-width: 850px) {
    #fact {
        width: 20em;
    }

    h1 {
        font-size: 2em;
    }
    

}

@media screen and (max-width: 740px) {

    #fact {
        font-size: .8em;

}

}

@media screen and (max-width: 580px) {

    #fact {
        width: 10em;
        font-size: .8em;
        height: 5em;
    }

    h1, h2 {
        font-size: 1em;
    }
    
    #chuck {
        width: 10em;
    }

    #button {
        height: 1.3em;
        font-size: 1em;
    }



}