h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

h1 {
    font-size: 3em;
}

#chuck {
    width: 20em;
    height: auto;
    display: flex;
    margin: auto;
}

#button {
    display: flex;
    margin: auto;
    height: 2em;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 7px 7px;
    cursor: pointer;



}